<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.douglas.lsapp">
    <!-- Internet permission, as we are accessing data from server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".GetOrder"></activity>
        <activity android:name=".History" />
        <activity android:name=".Checkout" />
        <activity android:name=".StoreOrdersDetailFragment" />
        <activity android:name=".StoreOrdersMasterFragment" />
        <activity android:name=".ProcessStoreOrders" />
        <activity android:name=".OrderDetailView" />
        <activity android:name=".ProductDetail" />
        <activity android:name=".ShowProducts" />
        <activity android:name=".Restaurants" />
        <activity android:name=".ClientHome" />
        <activity android:name=".ProcessProducts" />
        <activity android:name=".StoreManagement" />
        <activity
            android:name=".splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service
            android:name=".DownloadService.DownloadService"
            android:exported="false" />
    </application>

</manifest>